body {
	font-size: 1.2em;
}
.dh-sub-list-view-item-div {
	border: 1px solid;
	border-radius: 0.5em;
	padding: .5em;
	margin: .3em .3em .3em 1.5em;
	min-width: 56em;
}
.dh-sub-list-view-item-div:hover {
	background-color: rgb(248, 248, 160);
}
.dh-sub-list-view-item-div-h:hover {
	background-color: rgb(248, 248, 160);
}
.dh-sub-list-view-item-div-h {
	border: 1px solid;
	border-radius: 0.5em;
	padding: .5em;
	margin: .3em;
	min-width: 56em;
	background-color: rgb(243, 243, 246);
}
.dh-sub-list-view-item-title {
	display: inline-block;
	vertical-align: top;
	min-width: 11em;
}
.dh-sub-list-view-item-content {
	display: inline-block;
}
.dh-sub-list-view-item-detail-div {	
	padding: 0 .5em .5em 0;
	margin: 0 .3em .3em 0;
}

.dh-sub-list-view-item-detail-t {
	display: inline-block;
	font-weight: bold;
	min-width: 5em;
}
.dh-sub-list-view-item-detail-p {
	display: inline-block;
	font-weight: bold;
	min-width: 11em;
}
.dh-sub-list-view-item-detail-d {
	display: inline-block;
	font-weight: bold;
	min-width: 11em;	
}
.dh-sub-list-view-item-detail-m-m-e-ul {
	margin: 0;
}
.dh-sub-list-view-item-detail-m-m {

}
.dh-sub-list-view-item-detail-m-m-e {
	font-style: italic;
}
