<!DOCTYPE html>
<html lang="en" class="dh-site">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="sub-list.css" media="screen" />
</head>
<body>

    <section id="dh-app-sub-list">
    </section>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type="text/template" id="dh-sub-list-view">
    <div class="dh-sub-list-view-div">
        <div class="dh-sub-list-view-title">{{= sl.title }}</div>
        <div class="dh-sub-list-view-content">
        {{ _.each(sl.items, function(item){ }}
            {{ if (item.h){ }}
            <div class="dh-sub-list-view-item-div-h">
            {{ } else { }}
            <div class="dh-sub-list-view-item-div">
            {{ }; }}
                <div class="dh-sub-list-view-item-title">{{= item.w }}</div>
                <div class="dh-sub-list-view-item-content">
                {{ _.each(item.d, function(d){ }}
                    <div class="dh-sub-list-view-item-detail-div">
                        <div class="dh-sub-list-view-item-detail-header">
                            <div class="dh-sub-list-view-item-detail-t">{{= d.t }}</div>
                            <div class="dh-sub-list-view-item-detail-p">{{= d.p ? "/" : "" }}{{= d.p }}{{= d.p ? "/" : "" }}</div>
                            <div class="dh-sub-list-view-item-detail-d">{{= d.d }}</div>
                        </div>
                        {{ if (d.m){ }}
                        <div class="dh-sub-list-view-item-detail-m">
                            {{ _.each(d.m.en, function(m){ }}
                                <div class="dh-sub-list-view-item-detail-m-m">{{= m.d }}</div>
                                {{ if (m.e){ }}
                                    <ul class="dh-sub-list-view-item-detail-m-m-e-ul">
                                    {{ _.each(m.e, function(e){ }}
                                        <li class="dh-sub-list-view-item-detail-m-m-e">{{= e }}</li>
                                    {{ }); }}   
                                    </ul>
                                {{ };}}
                            {{ }); }}
                        </div>
                        {{ }; }}
                    </div>
                {{ }); }}
                </div>
            </div>
        {{ }); }}
        </div>
    </div>
    </script>
    <script type="text/javascript">
    var $dh = window.$dh = {}; $dh.app = {}; $dh.app.sl = {};
    _.templateSettings = { 
        evaluate    : /{{([\s\S]+?)}}/g,
        interpolate : /{{=([\s\S]+?)}}/g,
        escape      : /{{-([\s\S]+?)}}/g,
    };
    window.onload = function() {
        window.db = new Firebase('https://sub-list.firebaseio.com/');
        db.once('value', function(data) {
            new AppView().setup(data.val());
        });
    };
    var AppView = Backbone.View.extend({
        el: "#dh-app-sub-list",
        initialize: function() {
        },
        setup: function(data) {
            var sub = new SubListView().setup(data);
            this.$el.append(sub.$el);
            return this;
        }
    });
    var SubListView = Backbone.View.extend({
        template: _.template($("#dh-sub-list-view").html()),
        initialize: function() {
        },
        setup: function(data) {
            this.$el.html(this.template({"sl": {"title": "Test", "items": data.list}}));
            return this;
        }
    });
    </script>
</body>
</html>
